/* ****************************** */
/* Ficha no modelo do João Brasil */
/* ****************************** */
:root {
    --headerFC: #c04f15;
}

.jb-character-sheet {

    width: 210mm;
    
    background-color: white;
    color: #111;
    font-family: 'Times New Roman', Times, serif;
    padding: 80px 120px; /* calculado olhando a ficha dele */

    header {
        color: var(--headerFC);
    }

    img {
        max-width: 75%;
        max-height: calc(296.5mm * 0.5);
    }

    * {
        page-break-inside: avoid;
    }

    h1, h2, h3, h4, h5  {
        margin: 5mm 0 0 0;
    }
}

.grid-4x4 {
    display: grid;
    grid-template-columns: repeat(4, 20%);
}

.grid-2x20 {
    display: grid;
    grid-template-columns: repeat(2, 20%);
}

.grid-2x40 {
    display: grid;
    row-gap: 5mm;
    align-items: center;
    /* grid-template-columns: repeat(2, 50%); */

    img {
        max-height: 450px;
        max-width: 450px;
    }
}