/* ************************* */
/* Container das Páginas */
/* ************************* */
.marvel-character-sheet {
    position: relative;
    
    /* --displayScale: .63; */
    gap: 1mm;
    
    .a4-page {
        /* transform: scale(var(--displayScale)); */
        transform-origin: top left;
        position: absolute;
        left: 0;
    }

}

/* Estrutura das Páginas */
.a4-page {
    width: 210mm;
    height: 296.5mm; /**/
    background-color: #eee;
    color: #111;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;

    gap: 1mm;
    font-size: 14px;;
    
    background: no-repeat url(../../images/sheets/marvel-background.jpg);
    background-size: cover;
    page-break-after: always;
}

/* **************** */
/* Cabeçalho */
/* **************** */
#marvel-header {
    height: calc(296.5mm * .25);
    width: 100%;
}

#marvel-header-background {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(296.5mm * .25);
    width: 100%;
    /* z-index: -1; */
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#marvel-header-foreground {
    position: relative;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* ******************************************* */
.character-titles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
}

.character-title {
    font-size: 10mm;
    color: #eee;
    background-color: rgba(1, 1, 1, .8);
    padding: .25rem .5rem;
    font-family: 'Nexa Slab Black';
}

/* ******************************************* */
/* Blocos de Poderes */
/* ******************************************* */
.power-block, .complication-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    
    header {
        font-size: 18px;
        font-weight: bold;
    }
    
    p { 
        font-size: .7rem;
    }

}

/* ******************************************* */
/* Blocos Laterais */
/* ******************************************* */
#defenses {
    border-right-width: 1px;
    border-right-style: solid;
    border-color: #999;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

#info-block, #skills-advs { 
    display: flex;
    flex-direction: column;
    border-left-width: 1px;
    border-left-style: solid;
    border-color: #999;
    margin-top: 1rem;
}

/* ******************************************* */
/* Padding para cada corpo */
/* ******************************************* */
#image-header { padding: 0 1rem; }

#abilities, #defenses-powers, #skillsAdvs-powers {
    padding: 0 2rem;
}

#skills-advs { padding: 1rem .25rem; }
#skills, #advantages { padding: 1rem .5rem; }
#content-listing-page1 { padding: 0 1rem; }
#content-listing-page2 { padding: 1rem 0; }

/* ******************************** */
/* Habilidades */
/* ******************************** */
#abilities {
    display: flex;
    gap: 5px;
    
    .abi-circle { top: -50px; }
}

.abi-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-width: 8px;
    border-style: solid;
    background-color: #eee;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    position: relative;
}

.abi-rank {
    font-size: 50px;
    font-weight: bold;
}

.abi-name {
    text-align: center;
    text-transform: uppercase;
    z-index: 2;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

/* ******************************** */
/* Defesas */
/* ******************************** */
#defenses-powers {
    display: flex;
    justify-self: center;
    height: 60%;
}

.defItem header {
    font-weight: bold;
}

/* ******************************** */
/* Perícias */
/* ******************************** */
#skillsAdvs-powers {
    display: flex;
    height: 90%;
}

#skills {
    display: grid;
    grid-template-columns: 70% repeat(2, 15%);
    gap: 10px;
    width: 100%;

    > header:nth-child(-n+3){
        font-weight: bold;
        font-size: 14px;
    }
}

.skill-rank, .skill-total {
    text-align: center;
}

/* ******************************** */
/* Poderes */
/* ******************************** */
.content-listing {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.power-block {
    header {
        color: #063c9e;
    }
}

.power-titles {
    font-size: 14px;
    font-weight: bold;
    color: #29303c;
    font-style: italic;
}

/* Poderes Alternativos e/ou Poderes em Grupos */
.child-power {
    padding-left: 1rem;
    padding-right: 1rem;

    header {
        font-size: 14px;
    }
}

/* ******************************** */
/* Complicações */
/* ******************************** */
.complication-block {
    header {
        color: darkgoldenrod;
    }
}

/* ******************************** */
/* Ofensiva */
/* ******************************** */
.darkred-bold {

    > b:first-of-type {
        font-size: 14px;
        font-weight: bold;
        color: darkred;
    }
}

/* ******************************** */
/* Equipamentos */
/* ******************************** */
.darkgreen-bold {

    > b:first-of-type {
        font-size: 14px;
        font-weight: bold;
        color: darkgreen;
    }
}