@import url(fonts.css);
@import url(boot-aux.css);
@import url(animations.css);

#content {
    height: 100%;
    width: 100%;
    position: relative;
    animation: fadeInAnimation 1s ease-in forwards;
}

main {
    height: 90vh;
    position: relative;
}

/* Navbar */
.navbar {
    height: 10vh;
}

#main-header h1 {
    color: gold;
}

.image-background {
    position: absolute;
    height: 90vh;
    width: 100%;
    overflow: hidden;
    animation: bg_slideshow 20s infinite;
    transition: background-image 2s ease-in-out; /* Transição suave */
    filter: grayscale(100%); /* Aplica o filtro preto e branco */
    background-size: cover; /* Ajusta a imagem para cobrir todo o div */
    background-position: center; /* Centraliza a imagem */
    z-index: 0;
}
.image-foreground {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .80);
}

.main_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 0;      
    position: relative; /* Para garantir que o conteúdo fique acima do fundo */  
}

/* *************** */
/* Cabeçalho Navbar */
/* *************** */
#header-navbar li:nth-child(-n+3) a::after {
    content: ' • ';
}

/* *************** */
/* Cards */
/* *************** */
.card-block {
    overflow-y: auto;
    height: 80%;
}

/* Card Load */
.character-card {
    width: 300px;
    opacity: 0;
    animation: fadeInAnimation 1s ease-in forwards;
    font-size: .8vw;
}
.character-card img {
    max-height: 250px;
    max-width: 250px;
    align-self: center;
}

/* Customiza a barra de rolagem */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

/* Customiza a parte de "polegar" da barra de rolagem */
::-webkit-scrollbar-thumb {
    background: #888; /* Cor */
    border-radius: 6px; /* Bordas arredondadas */
}

/* Customiza a parte de trilho da barra de rolagem */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do trilho */
    border-radius: 6px; /* Bordas arredondadas */
}
